[Unit]
Description=WhatsApp

[Service]
ExecStart=/opt/brave-bin/brave --profile-directory=Default --app-id=hnpfjngllnobngcgfapefoaidbinmjnm

[Install]
WantedBy=autostart.target
