.idea

*.code-workspace

.dwm/slstatus/package-updates/last-run
.dwm/slstatus/package-updates/status
.config/nvim/plugin/packer_compiled.lua
.config/nvim/pack
.config/tmux/plugins
.config/gtk-3.0/bookmarks

.zsh-config/spaceship.zsh.zwc

.openvpn3/autoload
nohup.out
