[Unit]
Description=1password
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=1password

[Install]
WantedBy=autostart.target
