[Unit]
Description=1password
Requires=network-online.target
After=network-online.target

[Service]
ExecStartPre=/usr/bin/sleep 10
ExecStart=1password

[Install]
WantedBy=autostart.target
