[Unit]
Description=beeper
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/bin/bash -c 'exec /home/stevendejong/Applications/beeper-*.AppImage'

[Install]
WantedBy=autostart.target
