[Unit]
Description=Chatterino
Requires=network-online.target
After=network-online.target

[Service]
ExecStartPre=/usr/bin/sleep 10
ExecStart=/usr/bin/chatterino

[Install]
WantedBy=autostart.target
