[Unit]
Description=Google Chat
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/google-chat-linux/google-chat-linux %U

[Install]
WantedBy=autostart.target
