[Unit]
Description=JetBrains Toolbox
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/home/stevendejong/.local/share/JetBrains/Toolbox/bin/jetbrains-toolbox --minimize

[Install]
WantedBy=autostart.target
