[Unit]
Description=openrgb
After=dwm.target

[Service]
ExecStart=openrgb --startminimized --profile "PC Default"

[Install]
WantedBy=autostart.target
