[Unit]
Description=owncloud
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=owncloud-client

[Install]
WantedBy=autostart.target
