[Unit]
Description=polybar
After=1password.service

[Service]
ExecStart=/home/stevendejong/.config/polybar/launch.sh

[Install]
WantedBy=autostart.target
