[Unit]
Description=stackstorage
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=stack-client

[Install]
WantedBy=autostart.target
