[Unit]
Description=WhatsApp
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=whatsapp-nativefier

[Install]
WantedBy=autostart.target
