[Desktop Entry]
Name=Lock Screen
Comment=Lock the screen using slock
Exec=slock
Icon=system-lock-screen
Terminal=false
Type=Application
Categories=System;Utility;
