[Desktop Entry]
Name=SHUT UP!
Comment=Shut down the system
Exec=shutdown now
Icon=system-shutdown
Terminal=false
Type=Application
Categories=System;Utility;
